/* src/global.css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
 /* global.css */
body {
  background-image: url('./cute.jpeg'); /* Update the path if needed */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

  
  img {
    max-width: 100%;
    height: auto;
  }
  
  input,
  button,
  textarea {
    font-family: inherit;
    font-size: 100%;
  }
  
  button {
    cursor: pointer;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  /* Assuming this is in your global.css */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.sharingan {
  width: 100px;
  height: 100px;
  background-color: #000;
  border-radius: 50%;
  position: relative;
  animation: rotate 4s linear infinite;
}

.tomoe {
  width: 20px;
  height: 20px;
  background-color: #b10000;
  border-radius: 50%;
  position: absolute;
}

.tomoe:nth-child(1) {
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.tomoe:nth-child(2) {
  top: 50%;
  right: 20%;
  transform: translateY(-50%);
}

.tomoe:nth-child(3) {
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
}
