/* src/components/PostPage.module.css */

.postContainer {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.postContainer input{
  background: none;
  /* Remove default button styles */
  border: none;
  padding: 5px;
  cursor: pointer;
  /* Indicate clickable behavior */
  color: #606060;
  /* Set color for the icon */
  width: 98%;
}

.postContainer input:active {
  outline: none !important;
}

.postContainer input:focus,
.postContainer input:active {
  outline: none;
}

.postTitle {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.postContent {
  font-size: 1rem;
  margin-bottom: 15px;
}

.postImage {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.upvoteButton {
  color: #223a65;
  display: flex;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* div containing delete edit and upvote */
.edButtonsUpvote{
  display: flex;
  justify-content: space-between;
}
/* Delete and Edit buttons */
.buttonsContainer {
text-align: right;
}
.buttonsContainer button {
background: none; /* Remove default button styles */
border: none;
padding: 5px;
cursor: pointer; /* Indicate clickable behavior */
color: #223a65; /* Set color for the icon */
}
.buttonsContainer > button:hover{
  color: #0eafc1;
}
.editButton:hover{
  color: #0eafc1;
}
.upvoteButton:hover {
  background-color: #223a65;
  border-radius: 20px;
  color: white;
}

.commentContainer{
  display: flex;
  justify-content: space-between;
}

.commentContainer>span{
  width: 95%;
  word-wrap: break-word; /* Allow long words to break and wrap */
}

.commentActions{
  text-align: right;
  display: flex;
}
.commentActions>div{
  padding: 5px;
  cursor: pointer; /* Indicate clickable behavior */
  color: #223a65; /* Set color for the icon */
}
.commentActions>div:hover{
  color: #0eafc1;
}  


.commentForm{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid cadetblue;
  border-radius: 5px;
}

.commentForm > button {
  background-color: transparent; /* Set transparent background for .commentForm */
}

.commentForm:hover {
  background-color: #60606081;
  border: 1.5px solid #333;
  color: #ddd;
}

.commentForm> input:hover{
  color: white;
}

.commentSection {
  margin-top: 20px;
}


.comment {
  background: #f9f9f9;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border-left: 3px solid #223a65;
}

.addCommentInput {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.submitButton {
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submitButton:hover {
  color: #0eafc1;
}

@media (max-width: 768px) {

  .postContainer,
  .form {
    padding: 10px;
  }

  .postTitle {
    font-size: 1.6rem;
  }

  .upvoteButton,
  .submitCommentButton {
    padding: 8px 16px;
    /* Slightly reduce padding on smaller screens */
  }

  .comment {
    padding: 8px;
    /* Slightly reduce padding for comments */
  }
}
/* Add this at the end of your PostPage.module.css */

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, .95, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  animation: rubberBand 1s; /* Play animation for 1 second */
}
