body {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #222;
    margin: 0;
    padding: 0;
  }
  
  .pupil {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80px;
    height: 80px;
    background: #000;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 100px 10px #000;
  }
  
  .iris {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
    border: 1px solid #000;
    border-radius: 50%;
  }
  
  .tomoes {
    position: relative;
    height: 100%;
    width: 100%;
    animation: rotateIris 1.4s infinite linear;
  }
  
  @keyframes rotateIris {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .tomoe-area {
    --tomoe-size: 30px; /* You can adjust the size of the tomoe here */
    position: absolute;
    top: 50%;
    left: 50%;
  }
  
  .tomoe-area::before {
    content: '';
    position: absolute;
    top: -30.3%;
    left: 3.1%;
    width: calc(var(--tomoe-size) * 1.51);
    height: calc(var(--tomoe-size) * 1.69);
    border-radius: 50%;
    border-top: calc(var(--tomoe-size) / 2.6) solid #000;
    border-left: calc(var(--tomoe-size) / 9.7) solid transparent;
    transform: rotate(-35deg);
  }
  
  .tomoe-area:first-child {
    transform: translate(-50%, -50%);
  }
  .tomoe-area:nth-child(2) {
    transform: translate(-50%, -50%) rotate(120deg);
  }
  .tomoe-area:nth-child(3) {
    transform: translate(-50%, -50%) rotate(-120deg);
  }
  